/* Style des labels */

.cnx_page_title{
  font-family:klavika_bold_italic;
  font-weight: bold;
  font-size:larger;
  color: rgba(0,140,255,1);
}

.grid1 {
    height: 100%;
    padding: 0px;
  }

  .btn_se_connecter{

    font-family:klavika_regular_italic ;
    font-size: medium;

  }

  .contaier-login {
    width: 100%;
    background: #FFFFFF;

  }

  .img{
    border-radius: 5px;
  }


  .grid1 {
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
    background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
  }

  .row2 {
    height: 50%;
  }

  ion-icon {
    margin-right: 15px;
  }

  ion-button {
    margin-top: 10px;
    margin-bottom: 15px;
  }


  .eight h1 {
    text-align:center;

    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .eight h1:after,.eight h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
  }

  ion-alert.alert-title
  {
    --font-size: small;
    --font-weight: normal;
   --background: red !important;
  }


  .alert-title.sc-ion-alert-ios {
    margin-top: 8px;
    color: var(--ion-text-color, #000);
    font-size: 11px;
    font-weight: 200;
  }

 .forget_password{
  font-family:klavika_regular_italic ;
  font-size: medium;
 }
