.label-item{
  font-family:klavika_light_italic;
  font-weight: bold;
  font-size:small;
  color: rgba(0,140,255,1);
}
.input-item{
  font-family:klavika_light_italic;
}

.submit-button_accepter{
  font-family:klavika_regular_italic ;
  font-size: medium;
  width: 100;
}

