<app-header [title]="titre"></app-header>
<ion-content  contentId="tt1">

    <ion-card style="padding: 1em;">
      <ion-list>
    <ion-item>
      <ion-label class="label-item" color="primary" >Client :</ion-label>
      <ion-input class="input-item" fill="outline" [readonly]="true" [(ngModel)]="mission.client" type="text" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label-item"  color="primary" >Type :</ion-label>
      <ion-input type="text"  class="input-item"[readonly]="true" [(ngModel)]="mission.type" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label-item"  color="primary" >Déscription :</ion-label>
      <ion-input type="text" class="input-item"[readonly]="true" [(ngModel)]="mission.description" clearInput></ion-input>
    </ion-item>
  </ion-list>
</ion-card>
<ion-card style="padding: 1em;">
    <ion-list>
    <!--   <ion-item>
        <ion-select
          style="font-family:klavika_light_italic;"
          label="Fournisseur"
          interface="action-sheet"
          placeholder="Choisir un fournisseur"
          cancelText="Annuler"
          [(ngModel)]="this.mission.fournisseur"
        >
        <ion-select-option style="font-family:klavika_light_italic;" *ngFor="let fournisseur of this.fournisseurs;" [value]="fournisseur">{{fournisseur.nom}}</ion-select-option>
        </ion-select>
      </ion-item> -->
    <ion-item>
      <ion-label class="label-item"   color="primary" >Debut :</ion-label>
      <ion-input type="text" class="input-item ion-text-end" [readonly]="true"  [value]="mission.datedebut | date: 'dd.MM.yyyy'"  id="date3"  clearInput></ion-input>
    <ion-popover trigger="date3" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date3"
            [(ngModel)]="mission.datedebut"
            locale="fr-FR"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-label class="label-item"  color="primary" >Fin :</ion-label>
      <ion-input type="text" class="input-item ion-text-end" [readonly]="true" [value]="mission.datefin | date: 'dd.MM.yyyy'"  id="date2"  clearInput></ion-input>
      <ion-popover trigger="date2" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date2"
            [(ngModel)]="mission.datefin"
            locale="fr-FR"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-label class="label-item" color="primary">Produit :</ion-label>
      <ion-input
        [errorText]="produit.errors?.['required'] ? 'Le produit est obligatoire' : produit.errors?.['minlength'] ? 'Le produit doit contenir au moins 2 caractères' : ''"
        min="2" minlength="2" fill="outline" class="input-item" [(ngModel)]="mission.produit" type="text" clearInput
        #produit="ngModel"></ion-input>
      <span slot="error" *ngIf="produit.invalid && (produit.dirty || produit.touched)">
        <span *ngIf="produit.errors?.['required']">
          Le  produit est obligatoire
        </span>
        <span *ngIf="produit.errors?.['minlength']">
          Le produit doit contenir au moins 2 caractères
        </span>
      </span>
    </ion-item>

    <!-- <ion-item lines="none">
      <ion-label class="label-item"  color="primary" >Statut:</ion-label>
      <ion-text  class="input-item" [ngStyle]="{'color': mission.statut==='Accepté' ?  'green': 'red' }">{{mission.statut}}</ion-text>
    </ion-item> -->

    <ion-item>
      <ion-label class="label-item" color="primary">Statut :</ion-label>
      <ion-select class="label-item"  style="font-family:klavika_light_italic;" label="statut" interface="action-sheet"
        placeholder="Choisir un statut" cancelText="Annuler" [(ngModel)]="this.mission.statut">
        <ion-select-option style="font-family:klavika_light_italic;" 
          *ngFor="let statut of ['Accepté','en attente'];" [value]="statut">
          {{statut}}</ion-select-option>
      </ion-select>
    </ion-item>

    </ion-list>
  </ion-card>
  <ion-card style="padding-bottom: 1em;">
  <ion-list>
    <ion-item>
      <ion-label class="label-item" color="primary" >Fournisseur :</ion-label>
    </ion-item>
    <ion-item >
      <ion-select
        style="font-family:klavika_light_italic;"
        [multiple]="false"
        interface="action-sheet"
        placeholder="Choisir un fournisseur"
        cancelText="Annuler"
        [(ngModel)]="mission.fournisseur"
      >
      <ion-select-option style="font-family:klavika_light_italic;" *ngFor="let fournisseur of this.fournisseurs;" [value]="fournisseur.nom" >{{fournisseur.nom}}</ion-select-option>
      </ion-select>
    </ion-item>

    </ion-list>
    </ion-card>

  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row >
        <ion-col size-md="12" size-lg="12" size-xs="12">
          <ion-button (click)="saveMission()"  *ngIf="(this.userService.userinfos?.role==='RSPLA' ||this.userService.userinfos?.role==='CHPLA' || this.userService.userinfos?.role==='Admin' )"    style="width: 100%;height: 1cm;" name="accepter" type="submit" class="submit-button_accepter" color="success">Modifier</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" size-lg="6" size-xs="6">
          <ion-button  (click)="refuserMission()" *ngIf="(this.userService.userinfos?.role==='RSPLA' ||this.userService.userinfos?.role==='CHPLA' || this.userService.userinfos?.role==='Admin' )"   style="width: 100%;height: 1cm;" name="accepter" type="submit" class="submit-button_refuser" color="danger" >Refuser</ion-button>
        </ion-col>
        <ion-col size-md="6" size-lg="6" size-xs="6">
          <ion-button (click)="accepterMission()" *ngIf="(this.userService.userinfos?.role==='RSPLA' ||this.userService.userinfos?.role==='CHPLA' || this.userService.userinfos?.role==='Admin' )"  style="width: 100%;height: 1cm;" name="accepter" type="submit" class="submit-button_accepter" color="success">Accepter</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
