<ion-content>
  <ion-grid class="contaier-login">
    <ion-row  color="primary" justify-content-center>
      <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="0"></ion-col>
      <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="12">
        <div padding>

          <div class="contaier-login">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img width="80" height="80" style="padding-top: 10px;border-radius: 5px;" src="../../assets/icon/freelance.jpg" alt="">
                </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <div class="eight">
                        <h1>Mot de passe oublié</h1>
                      </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list lines="none">
    
                            <ion-item>
                                <ion-icon name="person" class="icon-login"></ion-icon>
                                <ion-input name="user"  required email="true" type="email" placeholder="Adresse email" [(ngModel)]="signInEmail" #email="ngModel"></ion-input>
                              </ion-item>
                            <br />
                            
    
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <ion-button type="button" (click)="(!email.invalid ) ? Getmdp():null" style="width:100%;" class="btn btn-primary btn-block mb-4 btn_se_connecter">Rénisialiser mon mot de passe</ion-button> 
                    </ion-col>
                </ion-row>
                
            </ion-grid>
        </div>
    </div>
  </ion-col>
  <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="0"></ion-col>
</ion-row>
</ion-grid>
</ion-content>
