
ion-card {
    padding: 1em;
}


.label_card_title{
    font-family: klavika_bold_italic;
    font-size:small;
    color: rgba(0,140,255,1);
  }

.label_card_content{
    font-family: klavika_light_italic;
    font-size:small;
    color: black;
}


.submit-button_accepter{
    font-family:klavika_regular_italic ;
    font-size: medium;
    width: 100;
}
