<app-header [title]="titre"></app-header>
<ion-content class="ion-padding" contentId="tt1"> 
  <ion-row>
    <ion-col class="ion-text-center" align-self-center size-md="2" size-lg="2" size-xs="2"></ion-col>
    <ion-col class="welcom_text ion-text-center" style="margin-top: 40%;" align-self-center size-md="9" size-lg="9" size-xs="9">
          Bienvenu Mr {{ this.userService.userinfos.nom}} !
    </ion-col>
    <ion-col class="ion-text-center" align-self-center size-md="2" size-lg="2" size-xs="2"></ion-col>
</ion-row>
  <ion-row>
    <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="4"></ion-col>
    <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="4">
      <img width="80" height="80" style="margin-top: 10%; padding-top: 10px;border-radius: 5px;" src="../../assets/icon/MOVE.jpg" alt="">
    </ion-col>
    <ion-col class="ion-text-center" align-self-center size-md="4" size-lg="4" size-xs="4"></ion-col>
</ion-row>

</ion-content>
