<app-header [title]="titre"></app-header>
<ion-content contentId="tt1">
  <ion-card style="padding: 1em;">
  <ion-list>
        <ion-item>
          <ion-label class="label-item" color="primary">Fournisseur :</ion-label>
          <ion-input type="text"  class="input-item" [(ngModel)]="fournisseur.nom" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label-item" color="primary">Description :</ion-label>
          <ion-input type="text"   class="input-item" [(ngModel)]="fournisseur.description" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label-item" color="primary">Email    :</ion-label>
          <ion-input type="text" class="input-item" [(ngModel)]="fournisseur.email" clearInput></ion-input>
        </ion-item>
  </ion-list>
  </ion-card>

  <ion-card style="padding: 1em;">
  <ion-list>
          <ion-item>
            <ion-label class="label-item" color="primary">Certification :</ion-label>
          </ion-item>
          <ion-item *ngFor="let certif of this.fournisseur.certifications;let index = index;">
            <ion-icon name="remove" (click)="supprimerCertification(index)" size="small" style="background-color: red;" slot="start"></ion-icon>
            <ion-input type="text" class="input-item" [(ngModel)]="this.fournisseur.certifications[index].type" clearInput></ion-input>
          </ion-item>
          <br/>
          <span
          class="label-item"
              ion-button
              float-left
              icon-left
              clear
              (click)="this.ajouterCertification()">
                 <ion-icon name="add"></ion-icon>
                 AJOUTER
           </span>

  </ion-list>
  </ion-card>


  <ion-card style="padding: 1em;">
    <ion-list>
            <ion-item>
              <ion-label class="label-item" color="primary">Compétences :</ion-label>
            </ion-item>
            <ion-item *ngFor="let competence of this.fournisseur.competences;let index = index;">
              <ion-icon name="remove" (click)="supprimerCompetence(index)" size="small" style="background-color: red;"  slot="start"></ion-icon>
              <ion-input class="input-item" type="text"  [(ngModel)]="this.fournisseur.competences[index].type" clearInput></ion-input>
            </ion-item>
            <br/>
            <span
            class="label-item"
            ion-button
            float-left
            icon-left
            clear
            (click)="this.ajouterCompetence()">
               <ion-icon name="add"></ion-icon>
               AJOUTER
         </span>

    </ion-list>
    </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <ion-button (click)="saveFournisseur()" style="width: 100%;height: 1cm;" name="accepter" type="submit" class="submit-button_accepter" color="success">Enregistrer</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>






























  <!--
	<ion-list>

				<ion-item class="form_item">
						<p slot="start" class="label-input-form" style="margin-right:40px ;">Fournisseur</p>
						<ion-input class="input-form"  placeholder="Nom" class="form-control" formControlName="nom" type="text"  [(ngModel)]="fournisseur.nom" required></ion-input>
				</ion-item>

				<ion-item class="form_item">
						<p slot="start" class="label-input-form" style="margin-right:40px ;">Description</p>
						<ion-input class="input-form"  placeholder="Description" class="form-control" formControlName="description" type="text" [(ngModel)]="fournisseur.description" required></ion-input>
				</ion-item>

				<ion-item class="form_item">
						<p slot="start" class="label-input-form" style="margin-right:40px;">Télephone</p>
						<ion-input class="input-form"  placeholder="Télephone" class="form-control" formControlName="tele" type="text" [(ngModel)]="fournisseur.tele" required></ion-input>
				</ion-item>

				<ion-item class="form_item">
						<p slot="start" class="label-input-form" style="margin-right:40px;">Certification</p>
						<ion-input class="input-form"  placeholder="Certification" class="form-control" formControlName="certification" type="text" [(ngModel)]="fournisseur.nom" required></ion-input>
						<ion-input class="input-form"  placeholder="Certification" class="form-control" formControlName="certification" type="text" [(ngModel)]="fournisseur.nom" required></ion-input>
						<ion-input class="input-form"  placeholder="Certification" class="form-control" formControlName="certification" type="text" [(ngModel)]="fournisseur.nom" required></ion-input>
						<ion-input class="input-form"  placeholder="Certification" class="form-control" formControlName="certification" type="text" [(ngModel)]="fournisseur.nom" required></ion-input>
						<ion-input class="input-form"  placeholder="Certification" class="form-control" formControlName="certification" type="text" [(ngModel)]="fournisseur.nom" required></ion-input>
				</ion-item>



				<ion-item lines="none" class="form_item">
					<p slot="start" class="label-input-form" style="margin-right:40px;">Compétences</p>
					<ion-radio-group value="JAVA">
						<ion-row>
							<ion-col>
						<ion-radio class="btn_radio" value="PHP">PHP</ion-radio><br />
						</ion-col>
						<ion-col>
						<ion-radio  class="btn_radio" value="JAVA">JAVA</ion-radio><br />
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
					<ion-radio class="btn_radio" value="SQL">SQL</ion-radio><br />
					</ion-col>
					<ion-col>
					<ion-radio  class="btn_radio" value="IONIC">IONIC</ion-radio><br />
					</ion-col>
				</ion-row>
					</ion-radio-group>
				</ion-item>
				<ion-list no-lines style="bottom:10px; position: fixed;left: 10%;right: 10%;">
					<ion-item lines="none" lines="none">
						<ion-button style="width: 100%;height: 1cm;" name="accepter" type="submit" class="submit-button" color="success">Enregistrer</ion-button>
					</ion-item>
				</ion-list>
	</ion-list> -->

